.brand-logo{
    background-image: url("./Acme-1.gif");
    background-repeat:  no-repeat;

    height: 200px;
    width: 100%;
    margin: auto;
}
.main-row{
    /*padding-top: 2em;*/
}

.form-col{
    padding-top: 5em;
}

.name{
    width: 100%;
    padding-left: 1em;
}
.email{
    width: 100%;
    padding-left: 1em;

}
.row2{
    padding-top: 1em;
}

.row3{
    padding-top: 1em;
}

.name-row{
    font-size: 5em;
    margin-top: 1em;
}

.foot-row{
    font-size: 2em;
}

/*
.main-row{
    width: 80%;
    margin: auto;
}

.img-col{
    width: 20%;
    marin-right:-10em;
}

.form-col{
    width: 80%;
}*/
